body {
    font-family: Jost;
  }
  .display-1 {
    font-family: 'Jost', sans-serif;
    font-size: 4.6rem;
    line-height: 1.1;
  }
  .display-1 > .mbr-iconfont {
    font-size: 5.75rem;
  }
  .display-2 {
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    line-height: 1.1;
  }
  .display-2 > .mbr-iconfont {
    font-size: 3.75rem;
  }
  .display-4 {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .display-4 > .mbr-iconfont {
    font-size: 1.375rem;
  }
  .display-5 {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
  }
  .display-5 > .mbr-iconfont {
    font-size: 2.5rem;
  }
  .display-7 {
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .display-7 > .mbr-iconfont {
    font-size: 1.5rem;
  }
  /* ---- Fluid typography for mobile devices ---- */
  /* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
  /* 100vw - current viewport width */
  /* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
  /* 0.65 - min scale variable, may vary */
  @media (max-width: 992px) {
    .display-1 {
      font-size: 3.68rem;
    }
  }
  @media (max-width: 768px) {
    .display-1 {
      font-size: 3.22rem;
      font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
      font-size: 2.4rem;
      font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
      font-size: 0.88rem;
      font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
      font-size: 1.6rem;
      font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
      font-size: 0.96rem;
      font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
  }
  /* Buttons */
  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
  }
  .bg-primary {
    background-color: #6592e6 !important;
  }
  .bg-success {
    background-color: #40b0bf !important;
  }
  .bg-info {
    background-color: #47b5ed !important;
  }
  .bg-warning {
    background-color: #ffe161 !important;
  }
  .bg-danger {
    background-color: #ff9966 !important;
  }
  .btn-primary,
  .btn-primary:active {
    background-color: #6592e6 !important;
    border-color: #6592e6 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary.active {
    color: #ffffff !important;
    background-color: #2260d2 !important;
    border-color: #2260d2 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #ffffff !important;
    background-color: #2260d2 !important;
    border-color: #2260d2 !important;
  }
  .btn-secondary,
  .btn-secondary:active {
    background-color: #ff6666 !important;
    border-color: #ff6666 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary.focus,
  .btn-secondary.active {
    color: #ffffff !important;
    background-color: #ff0f0f !important;
    border-color: #ff0f0f !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-secondary.disabled,
  .btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #ff0f0f !important;
    border-color: #ff0f0f !important;
  }
  .btn-info,
  .btn-info:active {
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-info:hover,
  .btn-info:focus,
  .btn-info.focus,
  .btn-info.active {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-info.disabled,
  .btn-info:disabled {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
  }
  .btn-success,
  .btn-success:active {
    background-color: #40b0bf !important;
    border-color: #40b0bf !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success.focus,
  .btn-success.active {
    color: #ffffff !important;
    background-color: #2a747e !important;
    border-color: #2a747e !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-success.disabled,
  .btn-success:disabled {
    color: #ffffff !important;
    background-color: #2a747e !important;
    border-color: #2a747e !important;
  }
  .btn-warning,
  .btn-warning:active {
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
    color: #614f00 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning.focus,
  .btn-warning.active {
    color: #0a0800 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-warning.disabled,
  .btn-warning:disabled {
    color: #614f00 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
  }
  .btn-danger,
  .btn-danger:active {
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger.focus,
  .btn-danger.active {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-danger.disabled,
  .btn-danger:disabled {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
  }
  .btn-white,
  .btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-white:hover,
  .btn-white:focus,
  .btn-white.focus,
  .btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-white.disabled,
  .btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
  }
  .btn-black,
  .btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-black:hover,
  .btn-black:focus,
  .btn-black.focus,
  .btn-black.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-black.disabled,
  .btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
  }
  .btn-primary-outline,
  .btn-primary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #6592e6;
  }
  .btn-primary-outline:hover,
  .btn-primary-outline:focus,
  .btn-primary-outline.focus,
  .btn-primary-outline.active {
    color: #2260d2 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-primary-outline.disabled,
  .btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #6592e6 !important;
    border-color: #6592e6 !important;
  }
  .btn-secondary-outline,
  .btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ff6666;
  }
  .btn-secondary-outline:hover,
  .btn-secondary-outline:focus,
  .btn-secondary-outline.focus,
  .btn-secondary-outline.active {
    color: #ff0f0f !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-secondary-outline.disabled,
  .btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #ff6666 !important;
    border-color: #ff6666 !important;
  }
  .btn-info-outline,
  .btn-info-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #47b5ed;
  }
  .btn-info-outline:hover,
  .btn-info-outline:focus,
  .btn-info-outline.focus,
  .btn-info-outline.active {
    color: #148cca !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-info-outline.disabled,
  .btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
  }
  .btn-success-outline,
  .btn-success-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #40b0bf;
  }
  .btn-success-outline:hover,
  .btn-success-outline:focus,
  .btn-success-outline.focus,
  .btn-success-outline.active {
    color: #2a747e !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-success-outline.disabled,
  .btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #40b0bf !important;
    border-color: #40b0bf !important;
  }
  .btn-warning-outline,
  .btn-warning-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ffe161;
  }
  .btn-warning-outline:hover,
  .btn-warning-outline:focus,
  .btn-warning-outline.focus,
  .btn-warning-outline.active {
    color: #ffd10a !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-warning-outline.disabled,
  .btn-warning-outline:disabled {
    color: #614f00 !important;
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
  }
  .btn-danger-outline,
  .btn-danger-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ff9966;
  }
  .btn-danger-outline:hover,
  .btn-danger-outline:focus,
  .btn-danger-outline.focus,
  .btn-danger-outline.active {
    color: #ff5f0f !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-danger-outline.disabled,
  .btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
  }
  .btn-black-outline,
  .btn-black-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #232323;
  }
  .btn-black-outline:hover,
  .btn-black-outline:focus,
  .btn-black-outline.focus,
  .btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-black-outline.disabled,
  .btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
  }
  .btn-white-outline,
  .btn-white-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #fafafa;
  }
  .btn-white-outline:hover,
  .btn-white-outline:focus,
  .btn-white-outline.focus,
  .btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-white-outline.disabled,
  .btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
  }
  .text-primary {
    color: #6592e6 !important;
  }
  .text-secondary {
    color: #ff6666 !important;
  }
  .text-success {
    color: #40b0bf !important;
  }
  .text-info {
    color: #47b5ed !important;
  }
  .text-warning {
    color: #ffe161 !important;
  }
  .text-danger {
    color: #ff9966 !important;
  }
  .text-white {
    color: #fafafa !important;
  }
  .text-black {
    color: #232323 !important;
  }
  a.text-primary:hover,
  a.text-primary:focus,
  a.text-primary.active {
    color: #205ac5 !important;
  }
  a.text-secondary:hover,
  a.text-secondary:focus,
  a.text-secondary.active {
    color: #ff0000 !important;
  }
  a.text-success:hover,
  a.text-success:focus,
  a.text-success.active {
    color: #266a73 !important;
  }
  a.text-info:hover,
  a.text-info:focus,
  a.text-info.active {
    color: #1283bc !important;
  }
  a.text-warning:hover,
  a.text-warning:focus,
  a.text-warning.active {
    color: #facb00 !important;
  }
  a.text-danger:hover,
  a.text-danger:focus,
  a.text-danger.active {
    color: #ff5500 !important;
  }
  a.text-white:hover,
  a.text-white:focus,
  a.text-white.active {
    color: #c7c7c7 !important;
  }
  a.text-black:hover,
  a.text-black:focus,
  a.text-black.active {
    color: #000000 !important;
  }
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
  }
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
  }
  .nav-tabs .nav-link.active {
    color: #6592e6;
  }
  .nav-tabs .nav-link:not(.active) {
    color: #232323;
  }
  .alert-success {
    background-color: #70c770;
  }
  .alert-info {
    background-color: #47b5ed;
  }
  .alert-warning {
    background-color: #ffe161;
  }
  .alert-danger {
    background-color: #ff9966;
  }
  .mbr-gallery-filter li.active .btn {
    background-color: #6592e6;
    border-color: #6592e6;
    color: #ffffff;
  }
  .mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
  }
  a,
  a:hover {
    color: #6592e6;
  }
  .mbr-plan-header.bg-primary .mbr-plan-subtitle,
  .mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-success .mbr-plan-subtitle,
  .mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #a0d8df;
  }
  .mbr-plan-header.bg-info .mbr-plan-subtitle,
  .mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-warning .mbr-plan-subtitle,
  .mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-danger .mbr-plan-subtitle,
  .mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
  }
  /* Scroll to top button*/
  .scrollToTop_wraper {
    display: none;
  }
  .form-control {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control > .mbr-iconfont {
    font-size: 1.375rem;
  }
  .form-control:hover,
  .form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #6592e6 !important;
  }
  .form-control:-webkit-input-placeholder {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control:-webkit-input-placeholder > .mbr-iconfont {
    font-size: 1.375rem;
  }
  blockquote {
    border-color: #6592e6;
  }
  /* Forms */
  .jq-selectbox li:hover,
  .jq-selectbox li.selected {
    background-color: #6592e6;
    color: #ffffff;
  }
  .jq-number__spin {
    transition: 0.25s ease;
  }
  .jq-number__spin:hover {
    border-color: #6592e6;
  }
  .jq-selectbox .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:after,
  .jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
  }
  .jq-selectbox:hover .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:hover:after,
  .jq-number__spin.plus:hover:after {
    border-top-color: #6592e6;
    border-bottom-color: #6592e6;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    color: #ffffff !important;
    background-color: #6592e6 !important;
    box-shadow: none !important;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td:hover,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    color: #000000 !important;
    background: #ff6666 !important;
    box-shadow: none !important;
  }
  .lazy-bg {
    background-image: none !important;
  }
  .lazy-placeholder:not(section),
  .lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
  }
  iframe.lazy-placeholder,
  .lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  }
  section.lazy-placeholder:after {
    opacity: 0.5;
  }
  body {
    overflow-x: hidden;
  }
  a {
    transition: color 0.6s;
  }
  .cid-tpthMvxaED .navbar-dropdown {
    position: relative !important;
    padding: 0 0;
  }
  .cid-tpthMvxaED .navbar {
    padding: 0!important;
    border-bottom: 1px solid #fff;
    min-height: 70px;
    transition: all 0.3s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  .cid-tpthMvxaED .navbar.opened {
    transition: all 0.3s;
  }
  .cid-tpthMvxaED .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-tpthMvxaED .navbar .navbar-logo img {
    width: auto;
  }
  .cid-tpthMvxaED .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
  }
  .cid-tpthMvxaED .navbar.collapsed {
    justify-content: center;
  }
  .cid-tpthMvxaED .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-tpthMvxaED .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  @media (min-width: 992px) {
    .cid-tpthMvxaED .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
      max-height: calc(98.5vh - 3.9rem);
    }
  }
  .cid-tpthMvxaED .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tpthMvxaED .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tpthMvxaED .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-tpthMvxaED .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-tpthMvxaED .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-tpthMvxaED .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 991px) {
    .cid-tpthMvxaED .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-tpthMvxaED .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-tpthMvxaED .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-tpthMvxaED .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-tpthMvxaED .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-tpthMvxaED .navbar .navbar-logo img {
      height: 3rem !important;
    }
    .cid-tpthMvxaED .navbar ul.navbar-nav li {
      margin: auto;
    }
    .cid-tpthMvxaED .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-tpthMvxaED .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 2rem;
    }
    .cid-tpthMvxaED .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-tpthMvxaED .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .cid-tpthMvxaED .navbar.navbar-short {
    min-height: 60px;
  }
  .cid-tpthMvxaED .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
  }
  .cid-tpthMvxaED .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
  }
  .cid-tpthMvxaED .dropdown-item:before {
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-tpthMvxaED .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .cid-tpthMvxaED .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
  }
  .cid-tpthMvxaED .dropdown-item:hover,
  .cid-tpthMvxaED .dropdown-item:focus {
    background: #ffffff !important;
    color: #11429b !important;
  }
  .cid-tpthMvxaED .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .cid-tpthMvxaED .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .cid-tpthMvxaED .nav-dropdown .link {
    padding: 0 0.4em !important;
    margin: 0.667em 1em !important;
  }
  .cid-tpthMvxaED .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .cid-tpthMvxaED .nav-link {
    position: relative;
  }
  .cid-tpthMvxaED .container {
    display: flex;
    margin: auto;
  }
  .cid-tpthMvxaED .iconfont-wrapper {
    padding-right: 0.5rem;
  }
  .cid-tpthMvxaED .dropdown-menu,
  .cid-tpthMvxaED .navbar.opened {
    background: #ffffff !important;
  }
  .cid-tpthMvxaED .nav-item:focus,
  .cid-tpthMvxaED .nav-link:focus {
    outline: none;
  }
  .cid-tpthMvxaED .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-tpthMvxaED .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-tpthMvxaED .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-tpthMvxaED .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-tpthMvxaED .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-tpthMvxaED .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-tpthMvxaED .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-tpthMvxaED .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-tpthMvxaED .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-tpthMvxaED .dropdown-item.active,
  .cid-tpthMvxaED .dropdown-item:active {
    background-color: transparent;
  }
  .cid-tpthMvxaED .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-tpthMvxaED .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-tpthMvxaED .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-tpthMvxaED .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }
  .cid-tpthMvxaED .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
  }
  .cid-tpthMvxaED .navbar .dropdown.open > .dropdown-menu {
    display: block;
  }
  .cid-tpthMvxaED ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-tpthMvxaED .navbar-buttons {
    text-align: center;
    min-width: 170px;
  }
  .cid-tpthMvxaED button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tpthMvxaED button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #bb0b0b;
  }
  .cid-tpthMvxaED button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-tpthMvxaED button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tpthMvxaED button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tpthMvxaED button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-tpthMvxaED nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tpthMvxaED nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-tpthMvxaED nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-tpthMvxaED nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tpthMvxaED a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-tpthMvxaED .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-tpthMvxaED .navbar {
      height: 70px;
    }
    .cid-tpthMvxaED .navbar.opened {
      height: auto;
    }
    .cid-tpthMvxaED .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-tpthMvxaED .bgtop {
    background-color: #000000;
    padding-top: 0%;
    padding-bottom: 0%;
    padding: auto !important;
  }
  .cid-tpthMvxaED P {
    color: #ffffff;
  }
  .cid-tpthMvxaED .mapcountry {
    display: flex;
    padding: auto !important;
    float: right !important;
  }
  .cid-tpthMvxaED DIV {
    color: #ffffff;
    text-align: center;
  }
  .cid-tpthMvxaED .flaglng {
    padding-top: 10px;
    padding-left: 10px;
  }
  .cid-tpthMvxaED .mbr-section-title {
    text-decoration: none;
    color: #ffffff;
  }
  .cid-tpthMvxaED .bouton {
    padding: 6px 15px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  @media only screen and (max-width: 600px) {
    .cid-tpthMvxaED .bouton {
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
  .cid-tpthMvxaED ul {
    margin-bottom: 0 !important;
  }
  .cid-tpthMvxaED .fixed-top {
    top: -30px;
    transform: translateY(30px);
    transition: transform .3s;
  }
  .cid-tptjm00qzR {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #000000;
  }
  .cid-tptjm00qzR .carousel-caption {
    padding-top: 1.5rem;
    opacity: 1;
    bottom: 4.5rem;
    border-radius: 38px 54px 37px 45px;
    padding-left: 45px;
    padding-right: 45px;
    width: 50%;
  }
  .cid-tptjm00qzR .btn {
    border-radius: 38px 54px 37px 45px;
  }
  .cid-tptjm00qzR .carousel-caption {
    border: 1px solid #ffffff;
    background-color: #000000;
    margin-left: 0px;
  }
  .cid-tptjm00qzR .carousel {
    height: 32.3rem;
  }
  .cid-tptjm00qzR .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cid-tptjm00qzR .carousel-item,
  .cid-tptjm00qzR .carousel-inner {
    height: 100%;
  }
  .cid-tptjm00qzR .carousel-inner {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .cid-tptjm00qzR .carousel-item img {
    object-fit: cover;
  }
  .cid-tptjm00qzR .mobi-mbri-arrow-next {
    margin-left: 5px;
  }
  .cid-tptjm00qzR .mobi-mbri-arrow-prev {
    margin-right: 5px;
  }
  .cid-tptjm00qzR .carousel-control:hover {
    background: #000;
    color: #fff;
    opacity: 1;
  }
  .cid-tptjm00qzR .item-wrapper {
    width: 100%;
  }
  @media (max-width: 767px) {
    .cid-tptjm00qzR .container .carousel-control {
      margin-bottom: 0;
    }
    .cid-tptjm00qzR .content-slider-wrap {
      width: 100% !important;
    }
  }
  .cid-tptjm00qzR .container .carousel-indicators {
    margin-bottom: 3px;
  }
  .cid-tptjm00qzR .carousel-control {
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  .cid-tptjm00qzR .carousel-control.carousel-control-prev {
    left: 0;
    margin-left: 2.5rem;
  }
  .cid-tptjm00qzR .carousel-control.carousel-control-next {
    right: 0;
    margin-right: 2.5rem;
  }
  @media (max-width: 767px) {
    .cid-tptjm00qzR .carousel-control {
      top: auto;
      bottom: 1rem;
    }
  }
  .cid-tptjm00qzR .carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem !important;
  }
  .cid-tptjm00qzR .carousel-indicators li {
    max-width: 15px;
    height: 15px;
    width: 15px;
    max-height: 15px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
  }
  .cid-tptjm00qzR .carousel-indicators li.active,
  .cid-tptjm00qzR .carousel-indicators li:hover {
    opacity: 0.9;
  }
  .cid-tptjm00qzR .carousel-indicators li::after,
  .cid-tptjm00qzR .carousel-indicators li::before {
    content: none;
  }
  .cid-tptjm00qzR .carousel-indicators.ie-fix {
    left: 50%;
    display: block;
    width: 60%;
    margin-left: -30%;
    text-align: center;
  }
  @media (max-width: 768px) {
    .cid-tptjm00qzR .carousel-indicators {
      display: none !important;
    }
  }
  .cid-tptjm00qzR H5 {
    text-align: left;
    color: #ffffff;
  }
  .cid-tptjm00qzR P {
    color: #ffffff;
    text-align: left;
  }
  .cid-tptjm00qzR .sectionsubtitle {
    color: #ffe161;
    text-align: left;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .cid-tptjm00qzR .fadeIn {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .fadeInLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .fadeInRight {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -200px, 0);
      transform: translate3d(0, -200px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -200px, 0);
      transform: translate3d(0, -200px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .fadeInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .fadeInUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  @-webkit-keyframes flipInX {
    0% {
      -webkit-transform: perspective(100px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(100px) rotate3d(1, 0, 0, 10deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    100% {
      -webkit-transform: perspective(100px);
      transform: perspective(100px);
    }
  }
  @keyframes flipInX {
    0% {
      -webkit-transform: perspective(100px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(100px) rotate3d(1, 0, 0, 10deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    100% {
      -webkit-transform: perspective(100px);
      transform: perspective(100px);
    }
  }
  .cid-tptjm00qzR .flipInX {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }
  @-webkit-keyframes flipInY {
    0% {
      -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 20deg);
      transform: perspective(1000px) rotate3d(0, 1, 0, 20deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    100% {
      -webkit-transform: perspective(1000px);
      transform: perspective(1000px);
    }
  }
  @keyframes flipInY {
    0% {
      -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 20deg);
      transform: perspective(1000px) rotate3d(0, 1, 0, 20deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    100% {
      -webkit-transform: perspective(1000px);
      transform: perspective(1000px);
    }
  }
  .cid-tptjm00qzR .flipInY {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
  }
  @-webkit-keyframes fadeDistortion {
    0% {
      opacity: 0;
      -webkit-transform: skewX(-8deg) skewY(-8deg);
      transform: skewX(-8deg) skewY(-8deg);
    }
    25% {
      -webkit-transform: skewX(6deg) skewY(6deg);
      transform: skewX(6deg) skewY(6deg);
    }
    50% {
      -webkit-transform: skewX(-4deg) skewY(-4deg);
      transform: skewX(-4deg) skewY(-4deg);
    }
    75% {
      -webkit-transform: skewX(2deg) skewY(2deg);
      transform: skewX(2deg) skewY(2deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeDistortion {
    0% {
      opacity: 0;
      -webkit-transform: skewX(-8deg) skewY(-8deg);
      transform: skewX(-8deg) skewY(-8deg);
    }
    25% {
      -webkit-transform: skewX(6deg) skewY(6deg);
      transform: skewX(6deg) skewY(6deg);
    }
    50% {
      -webkit-transform: skewX(-4deg) skewY(-4deg);
      transform: skewX(-4deg) skewY(-4deg);
    }
    75% {
      -webkit-transform: skewX(2deg) skewY(2deg);
      transform: skewX(2deg) skewY(2deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .fadeDistortion {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-name: fadeDistortion;
    animation-name: fadeDistortion;
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 0.8);
      transform: scale3d(0.8, 0.8, 0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 0.8);
      transform: scale3d(0.8, 0.8, 0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .cid-tptjm00qzR .zoomIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  @media only screen and (max-width: 600px) {
    .cid-tptjm00qzR .carousel-caption {
      width: 80%;
      margin-left: -20px;
    }
    .cid-tptjm00qzR .carousel-control {
      top: 50%;
      width: 30px;
      height: 30px;
      font-size: 100%;
      border-radius: 50%;
      transition: all 0.3s;
    }
  }
  .cid-tpttyJI6xj {
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #bb0b0b;
  }
  .cid-tpttyJI6xj .banner {
    z-index: 500;
    height: 499px;
  }
  .cid-tpttyJI6xj .banner-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .cid-tpttyJI6xj .bg-banner {
    padding: 15px;
    height: auto!important;
    position: relative;
  }
  .cid-tpttyJI6xj .bg-banner:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #bb0b0b;
    border-width: 20px 30px;
    margin-left: -30px;
  }
  .cid-tpttyJI6xj .bg-banner h1 {
    margin: 0 !important;
  }
  .cid-tpttyJI6xj .banner h1 {
    font-weight: 700!important;
    font-size: 40px;
  }
  .cid-tpttyJI6xj .banner h1:last-child {
    margin: 0;
  }
  .cid-tpttyJI6xj H1 {
    color: #ffffff;
  }
  .cid-tpttyJI6xj .mbr-text {
    color: #ffffff;
    text-align: center;
  }
  .cid-tptH1qMCg3 {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #0a327b;
  }
  .cid-tptH1qMCg3 .footer {
    position: relative;
  }
  .cid-tptH1qMCg3 .footer .container-fluid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .cid-tptH1qMCg3 .footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .cid-tptH1qMCg3 .footer .footer-info .footer-logo {
    display: inline-block;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .cid-tptH1qMCg3 .footer .footer-info .footer-logo span {
    text-transform: lowercase;
  }
  .cid-tptH1qMCg3 .footer .footer-info h3 {
    margin-bottom: 15px;
  }
  .cid-tptH1qMCg3 .footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cid-tptH1qMCg3 .footer .footer-menu p {
    line-height: 20px;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
  }
  .cid-tptH1qMCg3 .footer .footer-menu p:last-child {
    border: none;
  }
  .cid-tptH1qMCg3 .footer .footer-social {
    position: relative;
    margin-top: 5px;
  }
  .cid-tptH1qMCg3 .footer .footer-social a {
    display: inline-block;
  }
  .cid-tptH1qMCg3 .footer .footer-social a i {
    margin-right: 15px;
    transition: .3s;
  }
  .cid-tptH1qMCg3 .footer .footer-social a:last-child i {
    margin: 0;
  }
  .cid-tptH1qMCg3 .footer .footer-social a:hover i {
    color: #F7CAC9;
  }
  .cid-tptH1qMCg3 .footer .copyright {
    margin-top: 60px;
    padding: 0 30px;
  }
  .cid-tptH1qMCg3 .footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .cid-tptH1qMCg3 .footer .copyright p {
    margin: 0;
  }
  .cid-tptH1qMCg3 .footer .copyright .col-md-6:last-child p {
    text-align: right;
  }
  .cid-tptH1qMCg3 .footer .copyright p a:hover {
    color: #F7CAC9;
  }
  .cid-tptH1qMCg3 .mbr-brand8 {
    color: #ffffff;
  }
  .cid-tptH1qMCg3 .mbr-phone8 {
    color: #ffffff;
  }
  .cid-tptH1qMCg3 .mbr-mail8 {
    color: #ffffff;
  }
  .cid-tptH1qMCg3 .mbr-adress8 {
    color: #ffffff;
    text-align: left;
  }
  .cid-tptH1qMCg3 .copyright P {
    color: #ffffff;
  }
  .cid-tptH1qMCg3 .copyright a {
    text-decoration: none;
  }
  .cid-tptH1qMCg3 .mbr-subtitle4 {
    color: #06142e;
  }
  .cid-tptH1qMCg3 .footer .copyright p,
  .cid-tptH1qMCg3 .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
  .cid-tptH1qMCg3 h3 {
    line-height: 30px;
  }
  .cid-tptIW1aiUs {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-image: url("../../images/verrrr-1000x150.jpg");
  }
  .cid-tptIW1aiUs .mbr-section-title {
    text-decoration: none;
    color: #ffffff;
  }
  .cid-tptIW1aiUs .mbr-text {
    color: #ffffff;
  }
  .cid-tptV7KeLF9 {
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: #bbbbbb;
  }
  .cid-tptV7KeLF9 H1 {
    color: #187c11;
  }
  .cid-tptV7KeLF9 P {
    color: #000000;
  }
  .cid-tptV7KeLF9 .bgcard {
    background-color: #ffffff;
  }